// Imports
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Titillium+Web:wght@300;400;600;700&display=swap");

// Color palete
$primary: #111821;
$secondary: #20303d;
$tertiary: #ffba76;
$warning: #e99700;
$dark_warning: #b87700;
$error: #be0029;
$success: #00a152;
$dak_gray: #444444;
$light_gray: #cacaca;
$white: #fff;
$black: #262626;
$links: #0F798C;

// Utilities
$primary_font: "Roboto", sans-serif; ;
$secondary_font: "Titillium Web", sans-serif; ;
